/* Used colors: background text menuseparator osk_text osk_button1 osk_button1_border osk_hilight osk_pressed */

#osd-message, #osd-message-1, #osd-menu, #osd-menu-inactive, #osd-gesture, #osd-keyboard {
	background-color: #{background};
	border: 6px #{background+1} solid;
	opacity: 0.95;
}

#osd-message-1 {
	border: 3px #{background+1} solid;
}

#osd-message:active, #osd-message-1:active {
	background-color: #{background+10};
}

#osd-menu-inactive {
	opacity: 0.50;
}

#osd-message {
	border-left: 5px #{menuitem_hilight_text} solid;
}

#osd-area {
	background-color: #{background+1};
}

#osd-label-3, #osd-label-2, #osd-label-1 {
	color: #{text};
	border: none;
	font-size: xx-large;
	padding: 15px 15px 15px 15px;
}

#osd-label-2 {
	font-size: large;
	margin: 5px 5px 5px 5px;
}

#osd-label-1 {
	font-size: small;
	margin: 0px 0px 0px 0px;
}

#osd-label-3:active, #osd-label-2:active, #osd-label-1:active {
	color: #{text+50};
}

#osd-menu, #osd-gesture {
	padding: 7px 7px 7px 7px;
}

#osd-keyboard-container {
	padding: 6px 6px 6px 6px;
}

#osd-menu-item, #osd-menu-item-selected, #osd-menu-dummy,
#osd-menu-item-big-icon, #osd-menu-item-big-icon-selected,
#osd-key-buton, #osd-key-buton-hilight, #osd-launcher-item,
#osd-launcher-item-selected, #osd-hidden-item,
#osd-hidden-item-selected, #osd-key-buton-selected {
	border-radius: 0;
	font-size: x-large;
	background-image: none;
	background-color: #{background};
	margin: 0px 0px 2px 0px;
}

#osd-menu-item label, #osd-menu-dummy label, #osd-menu-item-big-icon label,
#osd-key-buton label, #osd-key-buton-hilight label, #osd-launcher-item label,
#osd-hidden-item label, #osd-menu-item #icon, #osd-menu-item-big-icon #icon {
	color: #{text};
}

#osd-menu-item-selected label, #osd-menu-item-big-icon-selected label,
#osd-launcher-item-selected label, #osd-hidden-item-selected label,
#osd-key-buton-selected label, #osd-menu-item-selected #icon,
#osd-menu-item-big-icon-selected #icon {
	color: #{menuitem_hilight_text};
}

#osd-hidden-item, #osd-hidden-item-selected,
#osd-hidden-item label, #osd-hidden-item-selected label {
	color: #{background};
	border-color: #{background};
}


#osd-radial-menu-icon {
	color: #{text};
}

#osd-radial-menu-icon-selected {
	color: #{menuitem_hilight_text};
}

#osd-menu-item, #osd-menu-item-big-icon,
#osd-launcher-item, #osd-launcher-item-selected {
	border: 1px #{background+1} solid;
}

#osd-menu-separator {
	font-size: large;
	background-image: none;
	background-color: #{background};
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#osd-menu-separator label, #osd-gesture-separator label {
	color: #{background+50};
}

#osd-gesture-separator {
	background-color: #{menuseparator};
	margin: 0px 5px 0px 5px;
}

#osd-menu-item-selected, #osd-menu-item-big-icon-selected,
#osd-launcher-item-selected {
	color: #{text};
	background-color: #{background+15};
	border: 1px #{menuitem_hilight_border} solid;
}

#osd-menu-cursor, #osd-keyboard-cursor {
}

#osd-dialog-buttons {
	margin: 10px 20px 10px 20px;
}

#osd-dialog-text {
	color: #{text};
	font-size: large;
	margin: 10px 20px 0px 20px;
}

#osd-application-list {
	margin: 15px 15px 0px 15px;
}

#osd-key-buton, #osd-key-buton-selected {
	background-color: #{osk_button1};
	border: 1px #{osk_button1_border} solid;
	color: #{osk_text};
}

#osd-key-buton-hilight {
	color: #{osk_text};
	background-color: #{osk_hilight};
}

#osd-key-buton-selected {
	background-color: #{osk_pressed};
}
