# Binaries for programs and plugins
.atomignore
python/**/*.pyc
*.exe
*.dll
*.so
*.dylib

tags
pkg/
bin/
build/
wine-ros/
build-ros/
build-w10/
build-win32/
release-win32/

sc-controller.wiki/
.trash/
profiles

release-reactos/
sc-controller-*-release/
sc-controller-*-release.zip

