[Desktop Entry]
Name=SC Controller
GenericName=SC Controller
Comment=Edits controller mappings
Comment[ru]=Настройка контроллера
Exec=sc-controller
Type=Application
Icon=sc-controller
Categories=GTK;Settings;HardwareSettings;
MimeType=application/x-steamcontrollerdb-profile;application/x-scc-profile;application/x-scc-profile-package
